.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  opacity: 0.5;
  z-index: 1101; // AppBar z-index is 1100
}

.cart-view {
  z-index: 1102;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;

  .store-name {
    padding: 17px 0;
    width: 100%;
    text-align: center;
    border-bottom: 2px lightgray solid;
  }

  .menu-list {
    .menu {
      display: flex;
      margin: 0 15px;
      padding: 15px 0;
      border-bottom: lightgray 1px solid;

      .count-label-wrapper {
        flex: 1;

        .count-label {
          background-color: #eee;
          color: black;
          width: 23px;
          height: 23px;
          font-size: 0.8em;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .abstract-wrapper {
        flex: 7;

        .detail {
          color: #777;
        }
      }

      .price {
        flex: 1;
        width: 60px;
        color: #666;
        text-align: end;
      }
    }
  }

  .subtotal-wrapper {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: lightgray 2px solid;
  }

  .go-to-checkout-button-wrapper {
    margin: 20px 0 40px;
    display: flex;
    justify-content: center;

    .go-to-checkout-button {
      background-color: black;
      color: white;
      width: 100%;
      margin: 0 15px;
      text-transform: none;
      border-radius: 0;
      height: 50px;
      font-size: 1.1em;
    }
  }
}

