.container {
  margin-top: 75px;

  .business-hours {
    color: gray;
  }

  .receipt-toggle {
    margin-top: 20px;
  }

  .group-order-button {
    margin: 15px 0;
  }

  .circular-wrapper {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.view-cart-button-wrapper {
  position: fixed;
  height: 80px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;

  .view-cart-button {
    background-color: black;
    color: white;
    width: 100%;
    margin: 0 15px;
    text-transform: none;
    border-radius: 0;
    height: 50px;
    font-size: 1.1em;
  }
}
